html,
body {
    height: 100%;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
}

.action-btn {
    background: none;
    border: none;
    border-radius: 50%;                    
}

.action-btn:hover {
    color: #f5f5f5;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.left-content {
    height: 100%;
    margin-right: 10px;
}

.right-content {
    height: 100%;
    background: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: left;
    position: relative;
    border: none;
}
.right-content button {
    border-radius: 0px;
    text-align: left;
    margin: 0px;
    font-size: 16px;
    border-collapse: collapse;
}
.right-content button:hover {
    border: 1px solid #ddd;
}

.top-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.bottom-content {
    display: flex;
    flex-direction: row;
}

.block-image-autor {
    background: rgb( 242, 244, 244 );
    margin: 10px;
}
.username {
    text-align: center;
    justify-content: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    background: rgb(  231, 76, 60  );
    padding: 10px;
    font-size: 20px;
}
.image-autor {
    width: 250px;
    height: 250px;
    border: 2px solid rgb(  231, 76, 60  );
    background: rgb( 250, 219, 216 );
}

.admin-options {
    width: 250px;
    top: 0px;
    background: rgb( 235, 237, 239 );
    padding: 15px;
    justify-content: center;
    text-align: center;
}
.autor-albums {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background: rgb(235, 237, 239);
    padding: 25px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.album {
    background: rgb(200,200,200);
    width: 250px;
    height: 250px;
}
.name-albums {
    background: none;
    width: 100px;
    height: 100px;
    text-align: center;
}
.images-albums {
    /*background: #5cb85c;*/
    max-width: 100%;
    height: auto;
    display: block;
}


.hazel {
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.warm {
    background: #9796f0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bighead {
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.orange-fun {
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-album {
    background: #222;
    border-color: #222;
    border-width: 5px;
}

.bg-album:hover {
    background: #000;
    border-color: #ffc107 !important;
    color: #ffc107 !important;
    border-width: 5px;
}

.album-flex {
    display: flex;
    flex-direction: row;
}

.autor-view {
    display: flex;
    flex-direction: column;
}


.player {
    position: fixed; 
    left:0px; 
    bottom: 0px; 
    width: 100%;  
    text-align:center; 
    background: #222;
    color: white;
    padding-top: 5px;
    border-top: 1px solid #222;
}
.music-index {
    display: -webkit-inline-flex;
    display: inline-flex; 
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
